body div#container {
	width:100%;
	height:100vh;
	background:url('../images/Vacation.jpg') center / cover no-repeat;    
	animation-name:motion;
	animation-duration:4s;
	animation-timing-function:ease;
	transition-property: filter; 
}




@keyframes motion {
	0% {
		filter: blur(100px);
	}
	100% {
		filter: blur(0);
	}
}
#logo {
	display:flex;
	width:100%;
	height:100%;
}
#logo span {
	margin:auto;
	font-weight:bold;
	font-size:3em;
	color:white;
}