@charset "utf-8";

header {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: azure;
    align-items: center;
    position: inherit;
    font-size:1.0em;
    }

h1{
    color:navy; font-weight:bold; font-size:5em;
}

ul{
    color:blue; font-weight:bold; font-size:2.0em;
}


h2{
    color:darksalmon; font-weight:bold; font-size:4em; 
}
h3{
    color:blueviolet; font-weight:bold; font-size:1.5em;
}



P{
    color:black; font-size:1.5em;
}

body{
    background-image: url(../images/sky.png);
    background-size:  cover;
}
#hd5{display:inline-block;
}

li{
    color:blue;
    font-size:3.0em;
}

div{color:blueviolet; 
  font-size:2em;  
  border: solid 3px blue; 
  width:70%;
  padding: 20px;}

  img {
    border: 2px solid #CCC;
    padding: 2px;
    margin: 25px;
    }